.hljs
{
/* background: #3f119c !important; */
}
code {
    /* background: #3f119c !important; */
    color: #e2f0cb !important;
}

button.md-clipboard
{
  color: #AEFBFF;
}

div.arithmatex {
  overflow-x: visible !important;
  overflow-y: visible !important;
}